fastapi
uvicorn
langchain
langchain-community
langchain-classic
langchain-groq
langchain-core
python-multipart
sentence-transformers
faiss-cpu
pypdf
huggingface_hub
langchain-huggingface
gunicorn



# from langchain_community.vectorstores import FAISS
# from langchain_classic.chains import RetrievalQA
# from langchain_classic.memory import ConversationBufferMemory
# from langchain_core.prompts import PromptTemplate